<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Synapse Billing Application</title>
<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

{% extends "index.html" %}

{% block title %}
{% endblock %}

{% block content %}
2010 invoice total: {{ invoices|length }}
</p>
{% for i in invoices %}
    <a href="http://10.10.16.56:8008/billing/{{ i.id }}"><p>{{ i.date }} -- {{ i.billing_code }} -- ${{ i.total }} -- monthly: {{ i.recurring }}</p></a>
{% endfor %}

{% endblock %}
