<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Synapse Billing Application</title>
<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

<body>



<div class="container">
	<div class="span-24 last append-bottom">
		{% include "topnav.html" %}
        <hr>
	</div>

	<div class="span-20 border">
{% block content %}
	<img src="http://yours/media/img/logo.png"/>
	<p/>        
	<p/>        
	<p/>        
	<p/>        
	<p/>        
	<p/>        
	<p/><br/>
	        
{% endblock %}
	</div>
	<div class="span-4 last">
                {% include "sidenav.html" %}
	</div>
    <div class="span-24 last quiet append-bottom">
    {% include "footer.html" %}
    </div>
	
</div>





</body>

</html>









